appdirs==1.4.3
Babel==2.5.1
certifi==2017.11.5
chardet==3.0.4
contrail-api-cli==0.2.0
contrail-api-cli-extra==0.5
datrie==0.7.1
debtcollector==1.18.0
decorator==4.1.2
funcsigs==1.0.2
gevent==1.2.2
greenlet==0.4.12
idna==2.6
iso8601==0.1.12
kazoo==2.4.0
keystoneauth1==3.2.0
monotonic==1.4
msgpack-python==0.4.8
netaddr==0.7.19
netifaces==0.10.6
networkx==2.0
oslo.config==5.1.0
oslo.i18n==3.18.0
oslo.serialization==2.21.2
oslo.utils==3.31.0
packaging==16.8
pathlib==1.0.1
pbr==3.1.1
positional==1.2.1
prettytable==0.7.2
prompt-toolkit==1.0.15
pycassa==1.11.2
pydotplus==2.0.2
Pygments==2.2.0
pyparsing==2.2.0
python-keystoneclient==3.13.0
pytz==2017.3
PyYAML==3.12
requests==2.18.4
rfc3986==1.1.0
six==1.11.0
stevedore==1.27.1
thrift==0.9.3
urllib3==1.22
wcwidth==0.1.7
wrapt==1.10.11
