Babel==2.5.3
certifi==2018.1.18
chardet==3.0.4
debtcollector==1.19.0
funcsigs==1.0.2
idna==2.6
iso8601==0.1.12
keystoneauth1==3.4.0
keystonemiddleware==4.4.1
monotonic==1.4
msgpack==0.5.6
netaddr==0.7.19
netifaces==0.10.6
oslo.config==5.2.0
oslo.context==2.20.0
oslo.i18n==3.19.0
oslo.serialization==2.24.0
oslo.utils==3.35.0
pbr==3.1.1
positional==1.2.1
prettytable==0.7.2
pycadf==2.7.0
pyparsing==2.2.0
python-keystoneclient==2.3.2
pytz==2018.3
PyYAML==3.12
requests==2.18.4
rfc3986==1.1.0
six==1.11.0
stevedore==1.28.0
urllib3==1.22
WebOb==1.7.4
wrapt==1.10.11
